PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlYjhkNWM1My1kMWRhLTQyYzgtODgxMy0yZTA0YjdkZGQwZjMiLCJlbWFpbCI6InRyYWpjaGVhbmRvbm92MTk5NEBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJpZCI6IkZSQTEiLCJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MX0seyJpZCI6Ik5ZQzEiLCJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MX1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiYTI4N2NmYjJjZTk0YzI5OWFjZWIiLCJzY29wZWRLZXlTZWNyZXQiOiI2ZjUwOGQxNGY4MmI2ZWM0MWM3NDMxMTUyZGI4M2JlMWRiNTNiMzkzNjY4MzU0M2Q0NzY5YjNjNTdhYWU2MjA2IiwiaWF0IjoxNzEyNjkyODk5fQ.TflXK88BPrJ2I3EnFYZE4dzrrf2l_bhghTbqwxDyoqs
# NEXT_PUBLIC_GATEWAY_URL=sapphire-legislative-muskox-987.mypinata.cloud
NEXT_PUBLIC_GATEWAY_URL=teal-reasonable-leech-561.mypinata.cloud
NEXT_PUBLIC_GATEWAY_TOKEN=0JK4Zan6xT_WjdEDvese7_Ko89JZWUHkxI6n0dkB5LVQXg6-MZ7p_qQ7xk-UpYIl
